#include "resource.h"
#include <winres.h>
#include <commctrl.h>

ID_ICON ICON "noname.ico"

ID_DLG_PROP DIALOG 0, 0, 450, 230
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
FONT 8, "Ebrima"
CAPTION "Property"
BEGIN
	AUTOCHECKBOX "TABSTOP | MAXIMIZEBOX", ID_BUTTON_STL_TM, 5, 5, 100, 10
	AUTOCHECKBOX "GROUP | MINIMIZEBOX", ID_BUTTON_STL_GM, 5, 15, 100, 10
	AUTOCHECKBOX "THICKFRAME | SIZEBOX", ID_BUTTON_STL_TS, 5, 25, 100, 10
	AUTOCHECKBOX "SYSMENU", ID_BUTTON_STL_SYSMENU, 5, 35, 100, 10
	AUTOCHECKBOX "HSCROLL", ID_BUTTON_STL_HSCROLL, 5, 45, 100, 10
	AUTOCHECKBOX "VSCROLL", ID_BUTTON_STL_VSCROLL, 5, 55, 100, 10
	AUTOCHECKBOX "DLGFRAME", ID_BUTTON_STL_DLGFRAME, 5, 65, 100, 10
	AUTOCHECKBOX "BORDER", ID_BUTTON_STL_BORDER, 5, 75, 100, 10
	AUTOCHECKBOX "MAXIMIZE", ID_BUTTON_STL_MAXIMIZE, 5, 85, 100, 10
	AUTOCHECKBOX "CLIPCHILDREN", ID_BUTTON_STL_CC, 5, 95, 100, 10
	AUTOCHECKBOX "CLIPSIBLINGS", ID_BUTTON_STL_CS, 5, 105, 100, 10
	AUTOCHECKBOX "DISABLED", ID_BUTTON_STL_DISABLED, 5, 115, 100, 10
	AUTOCHECKBOX "VISIBLE", ID_BUTTON_STL_VISIBLE, 5, 125, 100, 10
	AUTOCHECKBOX "MINIMIZE", ID_BUTTON_STL_MINIMIZE, 5, 135, 100, 10
	AUTOCHECKBOX "CHILD", ID_BUTTON_STL_CHILD, 5, 145, 100, 10
	AUTOCHECKBOX "POPUP", ID_BUTTON_STL_POPUP, 5, 155, 100, 10
	
	AUTOCHECKBOX "DLGMODALFRAME", ID_BUTTON_EXSTL_DMF, 110, 5, 100, 10
	AUTOCHECKBOX "NOPARENTNOTIFY", ID_BUTTON_EXSTL_NPN, 110, 15, 100, 10
	AUTOCHECKBOX "TOPMOST", ID_BUTTON_EXSTL_TM, 110, 25, 100, 10
	AUTOCHECKBOX "ACCEPTFILES", ID_BUTTON_EXSTL_AF, 110, 35, 100, 10
	AUTOCHECKBOX "TRANSPARENT", ID_BUTTON_EXSTL_TP, 110, 45, 100, 10
	AUTOCHECKBOX "MDICHILD", ID_BUTTON_EXSTL_MDIC, 110, 55, 100, 10
	AUTOCHECKBOX "TOOLWINDOW", ID_BUTTON_EXSTL_TW, 110, 65, 100, 10
	AUTOCHECKBOX "WINDOWEDGE", ID_BUTTON_EXSTL_WE, 110, 75, 100, 10
	AUTOCHECKBOX "CLIENTEDGE", ID_BUTTON_EXSTL_CE, 110, 85, 100, 10
	AUTOCHECKBOX "CONTEXTHELP", ID_BUTTON_EXSTL_CH, 110, 95, 100, 10
	AUTOCHECKBOX "RIGHT", ID_BUTTON_EXSTL_RGH, 110, 105, 100, 10
	AUTOCHECKBOX "RTLREADING", ID_BUTTON_EXSTL_RRD, 110, 115, 100, 10
	AUTOCHECKBOX "LEFTSCROLLBAR", ID_BUTTON_EXSTL_LSB, 110, 125, 100, 10
	AUTOCHECKBOX "CONTROLPARENT", ID_BUTTON_EXSTL_CP, 110, 135, 100, 10
	AUTOCHECKBOX "STATICEDGE", ID_BUTTON_EXSTL_SE, 110, 145, 100, 10
	AUTOCHECKBOX "APPWINDOW", ID_BUTTON_EXSTL_AW, 110, 155, 100, 10
	AUTOCHECKBOX "LAYERED", ID_BUTTON_EXSTL_LYD, 110, 165, 100, 10
	AUTOCHECKBOX "NOINHERITLAYOUT", ID_BUTTON_EXSTL_NIL, 110, 175, 100, 10
	AUTOCHECKBOX "NOREDIRECTIONBITMAP", ID_BUTTON_EXSTL_NRB, 110, 185, 100, 10
	AUTOCHECKBOX "LAYOUTRTL", ID_BUTTON_EXSTL_LR, 110, 195, 100, 10
	AUTOCHECKBOX "COMPOSITED", ID_BUTTON_EXSTL_CPS, 110, 205, 100, 10
	AUTOCHECKBOX "NOACTIVATE", ID_BUTTON_EXSTL_NA, 110, 215, 100, 10
	
	AUTOCHECKBOX "POPUPWINDOW\n(SYSMENU|BORDER|POPUP)", ID_BUTTON_STL_PW, 215, 5, 200, 20, BS_MULTILINE
	AUTOCHECKBOX "CAPTION\n(DLGFRAME|BORDER)", ID_BUTTON_STL_CAPTION, 215, 25, 200, 20, BS_MULTILINE
	AUTOCHECKBOX "OVERLAPPEDWINDOW\n(MAXIMIZEBOX|MINIMIZEBOX|THICKFRAME|SYSMENU|CAPTION)", ID_BUTTON_STL_OLW, 215, 45, 230, 20, BS_MULTILINE
	AUTOCHECKBOX "PALETTEWINDOW\n(TOPMOST|TOOLWINDOW|WINDOWEDGE)", ID_BUTTON_EXSTL_PW, 215, 65, 200, 20, BS_MULTILINE
	AUTOCHECKBOX "OVERLAPPEDWINDOW\n(WINDOWEDGE|CLIENTEDGE)", ID_BUTTON_EXSTL_OLW, 215, 85, 200, 20, BS_MULTILINE
	
	LTEXT "See Window Style Description (Click)", ID_STATIC_STYLE, 215, 115, 200, 10, SS_NOTIFY | WS_BORDER
	LTEXT "See Extended Window Style Description (Click)", ID_STATIC_EXSTYLE, 215, 130, 200, 10, SS_NOTIFY | WS_BORDER
	LTEXT "Runtime: ?", ID_STATIC_TIME, 215, 145, 200, 10, SS_NOTIFY | WS_BORDER
	
	PUSHBUTTON "?", ID_BUTTON_PROP_ADD, 275, 210, 50, 15
	PUSHBUTTON "Confirm", ID_BUTTON_PROP_CONFIRM, 335, 210, 50, 15
	PUSHBUTTON "Cancel", ID_BUTTON_PROP_CANCEL, 390, 210, 50, 15
END

ID_DLG_NAME DIALOG 0, 0, 200, 62
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
FONT 8, "Ebrima"
CAPTION "Change Name"
BEGIN
	EDITTEXT ID_EDIT_INPUT, 5, 5, 180, 32, ES_MULTILINE
	PUSHBUTTON "Change", ID_BUTTON_NAME_INPUT, 45, 42, 50, 15
	PUSHBUTTON "Cancel", ID_BUTTON_NAME_CANCEL, 105, 42, 50, 15
END

ID_DLG_HOTKEY DIALOG 0, 0, 115, 95
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
FONT 8, "Ebrima"
CAPTION "Hotkey"
BEGIN
	LTEXT "Move Active", ID_STATIC_HK_MA, 5, 5, 100, 15
	CONTROL "", ID_HOTKEY_MA, HOTKEY_CLASS, WS_TABSTOP, 3, 20, 100, 15
	LTEXT "Clip Cursor", ID_STATIC_HK_CC, 5, 40, 100, 15
	CONTROL "", ID_HOTKEY_CC, HOTKEY_CLASS, WS_TABSTOP, 5, 55, 100, 15
	PUSHBUTTON	"Confirm", ID_BUTTON_HK_CONFIRM, 5, 75, 50, 15
	PUSHBUTTON	"Cancel", ID_BUTTON_HK_CANCEL, 60, 75, 50, 15
END