#include "resource.h"
#include <afxres.h>
#include <commctrl.h>

#define PROP_WIDTH 100

ID_ICON ICON "noname.ico"

ID_DLG_PROP DIALOG 0, 0, 450, 230
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
FONT 8, "Ebrima"
CAPTION "Window Property" {
	CHECKBOX "TABSTOP | MAXIMIZEBOX", ID_BUTTON_STL_TM, 5, 5, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "GROP | MINIMIZEBOX", ID_BUTTON_STL_GM, 5, 15, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "THICKFRAME | SIZEBOX", ID_BUTTON_STL_TS, 5, 25, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "SYSMENU", ID_BUTTON_STL_SYSMENU, 5, 35, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "HSCROLL", ID_BUTTON_STL_HSCROLL, 5, 45, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "VSCROLL", ID_BUTTON_STL_VSCROLL, 5, 55, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "DLGFRAME", ID_BUTTON_STL_DLGFRAME, 5, 65, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "BORDER", ID_BUTTON_STL_BORDER, 5, 75, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "MAXIMIZE", ID_BUTTON_STL_MAXIMIZE, 5, 85, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "CLIPCHILDREN", ID_BUTTON_STL_CC, 5, 95, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "CLIPSIBLINGS", ID_BUTTON_STL_CS, 5, 105, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "DISABLED", ID_BUTTON_STL_DISABLED, 5, 115, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "VISIBLE", ID_BUTTON_STL_VISIBLE, 5, 125, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "MINIMIZE", ID_BUTTON_STL_MINIMIZE, 5, 135, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "CHILD", ID_BUTTON_STL_CHILD, 5, 145, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "POPUP", ID_BUTTON_STL_POPUP, 5, 155, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	
	CHECKBOX "DLGMODALFRAME", ID_BUTTON_EXSTL_DMF, PROP_WIDTH + 10, 5, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "NOPARENTNOTIFY", ID_BUTTON_EXSTL_NPN, PROP_WIDTH + 10, 15, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "TOPMOST", ID_BUTTON_EXSTL_TM, PROP_WIDTH + 10, 25, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "ACCEPTFILES", ID_BUTTON_EXSTL_AF, PROP_WIDTH + 10, 35, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "TRANSPARENT", ID_BUTTON_EXSTL_TP, PROP_WIDTH + 10, 45, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "MDICHILD", ID_BUTTON_EXSTL_MDIC, PROP_WIDTH + 10, 55, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "TOOLWINDOW", ID_BUTTON_EXSTL_TW, PROP_WIDTH + 10, 65, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "WINDOWEDGE", ID_BUTTON_EXSTL_WE, PROP_WIDTH + 10, 75, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "CLIENTEDGE", ID_BUTTON_EXSTL_CE, PROP_WIDTH + 10, 85, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "CONTEXTHELP", ID_BUTTON_EXSTL_CH, PROP_WIDTH + 10, 95, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "RIGHT", ID_BUTTON_EXSTL_RGH, PROP_WIDTH + 10, 105, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "RTLREADING", ID_BUTTON_EXSTL_RRD, PROP_WIDTH + 10, 115, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "LEFTSCROLLBAR", ID_BUTTON_EXSTL_LSB, PROP_WIDTH + 10, 125, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "CONTROLPARENT", ID_BUTTON_EXSTL_CP, PROP_WIDTH + 10, 135, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "STATICEDGE", ID_BUTTON_EXSTL_SE, PROP_WIDTH + 10, 145, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "APPWINDOW", ID_BUTTON_EXSTL_AW, PROP_WIDTH + 10, 155, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "LAYERED", ID_BUTTON_EXSTL_LYD, PROP_WIDTH + 10, 165, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "NOINHERITLAYOUT", ID_BUTTON_EXSTL_NIL, PROP_WIDTH + 10, 175, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "NOREDIRECTIONBITMAP", ID_BUTTON_EXSTL_NRB, PROP_WIDTH + 10, 185, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "LAYOUTRTL", ID_BUTTON_EXSTL_LR, PROP_WIDTH + 10, 195, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "COMPOSITED", ID_BUTTON_EXSTL_CPS, PROP_WIDTH + 10, 205, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	CHECKBOX "NOACTIVATE", ID_BUTTON_EXSTL_NA, PROP_WIDTH + 10, 215, PROP_WIDTH, 10, BS_AUTOCHECKBOX
	
	CHECKBOX "POPUPWINDOW\n(SYSMENU|BORDER|POPUP)", ID_BUTTON_STL_PW, PROP_WIDTH * 2 + 15, 5, PROP_WIDTH * 2, 20, BS_MULTILINE | BS_AUTOCHECKBOX
	CHECKBOX "CAPTION\n(DLGFRAME|BORDER)", ID_BUTTON_STL_CAPTION, PROP_WIDTH * 2 + 15, 25, PROP_WIDTH * 2, 20, BS_MULTILINE | BS_AUTOCHECKBOX
	CHECKBOX "OVERLAPPEDWINDOW\n(MAXIMIZEBOX|MINIMIZEBOX|THICKFRAME|SYSMENU|CAPTION)", ID_BUTTON_STL_OLW, PROP_WIDTH * 2 + 15, 45, PROP_WIDTH * 2 + 30, 20, BS_MULTILINE | BS_AUTOCHECKBOX
	CHECKBOX "PALETTEWINDOW\n(TOPMOST|TOOLWINDOW|WINDOWEDGE)", ID_BUTTON_EXSTL_PW, PROP_WIDTH * 2 + 15, 65, PROP_WIDTH * 2, 20, BS_MULTILINE | BS_AUTOCHECKBOX
	CHECKBOX "OVERLAPPEDWINDOW\n(WINDOWEDGE|CLIENTEDGE)", ID_BUTTON_EXSTL_OLW, PROP_WIDTH * 2 + 15, 85, PROP_WIDTH * 2, 20, BS_MULTILINE | BS_AUTOCHECKBOX
	
	LTEXT "See Window Style Description (Click)", ID_STATIC_STYLE, PROP_WIDTH * 2 + 15, 115, PROP_WIDTH * 2, 10, SS_NOTIFY
	LTEXT "See Extended Window Style Description (Click)", ID_STATIC_EXSTYLE, PROP_WIDTH * 2 + 15, 130, PROP_WIDTH * 2, 10, SS_NOTIFY
	
	PUSHBUTTON "Confirm", ID_BUTTON_PROP_CONFIRM, 450 - 120, 230 - 20, 50, 15
	PUSHBUTTON "Cancel", ID_BUTTON_PROP_CANCEL, 450 - 60, 230 - 20, 50, 15
}

ID_DLG_NAME DIALOG 0, 0, 200, 62
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
FONT 8, "Ebrima"
CAPTION "Change Name" {
	EDITTEXT ID_EDIT_INPUT, 5, 5, 180, 32, ES_MULTILINE
	PUSHBUTTON "Change", ID_BUTTON_NAME_INPUT, 45, 42, 50, 15
	PUSHBUTTON "Cancel", ID_BUTTON_NAME_CANCEL, 105, 42, 50, 15
}